
body{
   
    letter-spacing:0.2em;
    font-size:0.8em;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.container{
    max-width: 400px;
}
.weather-icon{
    position: relative;
    border-radius: 50%;
    width: 100px;
    background-color: #eeedec;
    margin-top: -50px;
}

